<ul class="sidebar-menu" data-widget="tree">
<li class="header"></li>


<li>

    <a href="@Url.Action("Index", "Instrutor")">
        <i class="fa fa-user-secret" aria-hidden="true"></i>
        <span>Instrutores</span>
    </a>

    <a href="@Url.Action("Index", "Inscrito")">
        <i class="fa fa-users" aria-hidden="true"></i>
        <span>Inscritos</span>
    </a>

    <a href="@Url.Action("Index", "Live")">
        <i class="fa fa-caret-square-o-left" aria-hidden="true"></i>
        <span>Lives</span>
    </a>


    <a href="@Url.Action("Index", "Inscricao")">
        <i class="fa fa-star" aria-hidden="true"></i>
         <span>Inscrições</span>
    </a>
    
    
    <span class="pull-right-container">
        <i class="fa fa-angle-left pull-right"></i>
    </span>
  
</li>
</ul>