@model SponteLive.Models.Inscrito

@{
    ViewData["Title"] = "Delete";
}



<section class="content container-fluid">

    <form asp-action="Delete">
        <div class="box box-info">


            <div class="box-body">


                <h3>Você tem certeza que deseja excluir o inscrito "@Model.Nome"?</h3>
                <p>Todas as informações relacionadas a este inscrito serão apagadas permanentemente.</p>



                <div class="box-footer">
                    <a asp-action="Index" class="btn btn-secondary">Voltar</a>
                    <button type="submit" class="btn btn-danger pull-right">Deletar</button>
                </div>


            </div>


        </div>
    </form>

</section>


